body, html {
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 1.1em;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("../img/leMans.jpg");
    background-color: #ffffff;
    zoom: 90%;
}

.container{
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.90);
    background-blend-mode: color;
}

#header{
    float: left;
    width:100%;
    min-height: auto;
    text-align: center;
}

#content{
    float: left;
    width:100%;
    min-height: auto;
    text-align: center;
}
.main{
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.90);
    background-blend-mode: color;
    height: available;
    text-align: center;
    align-content: center;
    padding: 20px 2% 20px 2%;
}

#sidebar-left{
    float:left;
    width:25%;
    min-width: 250px;
    min-height: 1100px;
    background-color: #dae7ea;
}
#animationButtons{
    padding: auto;
    margin-inside: 10;
}
#accordion{
    padding: auto;
    margin-inside: 10;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eeeeee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: left;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#middle-bar{
    float:left;
    width:38%;
    min-width: 600px;
    min-height: 1100px;
    background-color: #ffffff;

}
#circuitFrame{
    align-self: center;
    position: absolute;
    width: 600px;
    height: 800px;
}
#slider{
    position: center;
}
#circuit{
    position: absolute;
    width: auto;
    height: auto;
    margin: 0 auto;
    fill: none;
}
#backgroundImage{
    position: inherit;
    fill: none;
    width: 600px;
    height: 800px;
}
#circuitComplete {
    position: inherit;
    background: none;
    fill: none;
    width: 600px;
    height: 800px;
    z-index: 50;
}
#path_sector1 {
    position: inherit;
    stroke: #28e33c;
    stroke-width: 3px;
    z-index: 51;
}
#path_sector2 {
    position: inherit;
    stroke: #4a91ec;
    stroke-width: 3px;
    z-index: 52;
}
#path_sector3 {
    position: inherit;
    stroke: #ec3b62;
    stroke-width: 3px;
    z-index: 53;
}
#sidebar-right {
    float: left;
    width: 25%;
    min-width: 250px;
    min-height: 1100px;
    background-color: #dae7ea;
}
#sectorNames{
    float: top;
    display: block;
    width: auto;
}
#legendSector1{
    text-align: left;
    color: #28e33c;
    font-size: larger;
    font-weight: bold;
}
#legendSector2{
    text-align: center;
    color: #4a91ec;
    font-size: larger;
    font-weight: bold;
}
#legendSector3{
    text-align: right;
    color: #ec3b62;
    font-size: larger;
    font-weight: bold;
}

#footer{
    float: left;
    clear:both;
    width: 100%;
    min-height: auto;
    text-align: center;
}

#legend {
    display: block;
    padding: 1px;
    text-align: center;
    background-color: #eeeeee;
}

#teams {
    position: center;
    padding-left: 30px;
    text-align: left;
    padding: auto;
}

.box, .square {
    pointer-events: none;
    background-color: black;
    margin: 4px;
    display: inline-flex;
    top: -12px;
    left: -15px;
    opacity: 1;
    border-radius: 5px;
    width: 22px;
    height: 15px;
}

.box {
    position: relative;
    top: 8px;
}

.square {
    position: absolute;
}
